{% extends 'base.html' %}
{% load meus_filtros %}
{% block conteudo %}
<br/>
<div class="centraliza">
    <form method="post" class="ajuste">
        {% csrf_token %}
        <div class="form-group">
            {{ form_usuarios.username.errors}}
            <label>Escolha seu login: </label>
            {{ form_usuarios.username|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_usuarios.password1.errors}}
            <label>Escolha sua senha: </label>
            {{ form_usuarios.password1|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_usuarios.password2.errors}}
            <label>Confirme sua senha: </label>
            {{ form_usuarios.password2|addclass:'form-control' }}
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-info">
        </div>
    </form>
</div>
{% endblock conteudo %}